:root {
    --accent-color: #2196f3;
    --background-black: #2f303a;
    --background-gray: #f5f4fa;
    --border-color: #ececec;
    --bordercards-color: #eeeeee;
    --button-primary-hover: #188ce8;
    --icon-color: #afb1b8;
    --primary-black-color: #212121;
    --primary-text-color: #757575;
    --primary-white-color: #ffffff;
    --text-white-opacity: #ffffff99;

    --container-padding: calc((100% - 1200px) / 2);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.03em;
    line-height: 1.7;
}

.logo {
    color: var(--accent-color);
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    text-decoration: none;
}

.hero__button {
    padding: 10px 32px;

    background-color: var(--accent-color);
    border: none;
    border-radius: 4px;
    color: var(--primary-white-color);
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.06em;
    line-height: 1.9;
    outline: none;
}

.hero__button:hover,
.hero__button:focus {
    background-color: var(--button-primary-hover);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    padding: 30px 0;
}

h2 {
    padding: 30px 0 55px;
    text-align: center;

    color: var(--primary-black-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;

}

a {
    text-decoration: none; 
}

/*--------------- Header section ---------------*/
.header {
    margin: 0 auto;
    padding: 0 var(--container-padding);

    border-bottom: 1px solid var(--border-color);
    height: 80px;
}

.header .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    
    height: 100%;
}

.navbar {
    align-items: center;
    display: flex;
    gap: 100px;
}

.navbar .navbar__list {
    display: flex;
    gap: 80px;
    
    list-style: none;
}

.navbar .navbar__link {
    position: relative;

    color: var(--primary-black-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.navbar .navbar__link--current::after {
    left: 0;
    position: absolute;
    top: 44px;

    background-color: var(--accent-color);
    border-radius: 2px;
    content: '';
    height: 4px;
    width: 100%;  
}

.contacts {
    display:flex;
    gap: 80px;
    
    list-style: none;
}

.contacts .contacts__link {
    align-items: center;
    display:flex;
    gap: 10px;

    color: var(--primary-text-color);
    font-size: 14px;
    font-weight: 500;
    height: 20px;
    letter-spacing: 0.02em;
    line-height: 1.4;
    text-decoration: none;
}

.contacts .contacts__icon {
    fill: var(--primary-text-color);
}

.contacts .contacts__icon--email {
    height: 12px;
    width: 16px;
}

.contacts .contacts__icon--phone {
    height: 16px;
    width: 10px;
}

.navbar .navbar__link--current,
.navbar .navbar__link:hover,
.navbar .navbar__link:focus,
.contacts .contacts__link:hover,
.contacts .contacts__link:focus,
.contacts .contacts__link:hover .contacts__icon,
.contacts .contacts__link:focus .contacts__icon {
    color: var(--accent-color);
    fill: var(--accent-color);
}

/*--------------- Modal window ---------------*/
.backdrop {
    align-items: center;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    opacity: 1;
    width: 100%;
    
    transition: opacity 250ms; 
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop .modal__form {
    padding: 40px;
    position: relative;
    z-index: 1;

    border-radius: 4px;
    background-color: var(--primary-white-color);
    height: 581px;
    width: 528px; 
    
    transition: transform ease-in  250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(0);
    
}

.backdrop .modal__form.is-hidden {
    transform: translateY(200px);
}

.backdrop .modal__button {
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    right: 8px;
    top: 8px;
    
    background-color: var(--primary-white-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    cursor: pointer;
    height: 30px;
    width: 30px;
}
    

.backdrop .modal__button .modal__button--close {
    height: 11px;
    width: 11px;
}

.backdrop .modal__button:hover,
.backdrop .modal__button:focus {
    fill:var(--accent-color);
}

.backdrop .modal__title {
    text-align: center;

    color: var(--primary-black-color);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
}

.backdrop .modal__label {
    display: block;
    position: relative;
    margin-bottom: 10px;
}

.backdrop .modal__input {
    display: block;
    padding: 12px 0px 12px 42px;
    
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    height: 40px;
    width: 448px;
    outline: none;
}

.backdrop .modal__input:focus,
.backdrop .modal__input:hover {
    border: 1px solid var(--accent-color);
}

.backdrop .modal__input:focus + .modal__icon,
.backdrop .modal__input:hover + .modal__icon {
    fill:var(--accent-color);
}

.backdrop .modal__icon {
    bottom: 14px;
    left: 15px;
    position: absolute;
    top: 35px;

    height: 18px;
    width: 18px;
    fill: var(--primary-black-color);
}

.backdrop .modal__comments {
    display: block;
    padding: 12px 16px;
    
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    height: 120px;
    outline: none;
    resize: none;
    width: 448px;
}

.backdrop .modal__label--checkoption {
    display: block;
    padding-left: 20px;
    position: relative;
    margin-top: 20px;
}

.backdrop .modal__input--checkbox {
    opacity: 0;
}

.backdrop .modal__box {
    align-items: center;
    display: flex;
    justify-content: center;
    left: 16px;
    position: absolute;
    top: 4px;
    
    background-color: var(--primary-white-color);
    border: 2px solid var(--primary-black-color);
    border-radius: 2px;
    height: 15px;
    overflow: hidden;
    width: 16px;
}

.backdrop .modal__input--checkbox:checked + .modal__box {
    background-color: var(--accent-color);
    border: 2px solid var(--accent-color);
}

.backdrop .modal__iconcheck {
    height: 8px;
    width: 11px;
}

.backdrop .modal__button--submit {
    left: 164px;
    position: absolute;
    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); 
    height: 50px;
    width: 200px;
}

/*--------------- Hero Section ---------------*/
.hero {
    padding: 200px var(--container-padding);
    text-align: center;
    
    background-image: linear-gradient(rgba(47,48,58,0.7),rgba(47,48,58,0.4)), url(../Images/hero1.jpg);
    background-size: cover;
}

.hero .hero__title {
    margin: 30px auto;

    color: var(--primary-white-color);
    font-size: 44px;
    font-weight: 900;
    width: 650px;
}

/*--------------- Benefits section ---------------*/
.benefits {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.benefits .benefits__list {
    list-style: none;
    width: 270px;
}

.benefits .benefits__item {
    padding: 25px 100px;

    background-color: var(--background-gray);
    border-radius: 4px;
}

.benefits .benefits__icon {
    height: 70px;
    width: 65px;
} 

.benefits .benefits__title {
    padding: 10px 0;

    color: var(--primary-black-color);
}

/*--------------- What we do section ---------------*/
.activities__section {
    padding-top: 0;
}

.activities__section .activities__list {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.activities__section .activities__item {
    position: relative;
    z-index: -1;
    
    list-style: none;
    overflow: hidden;
}

.activities__section .activities__image {
    display: block;

    max-width: 100%;
}

.activities__section .activities__item > .activities__title {
    bottom: 0;
    margin: 0;
    padding: 27px 0;
    position: absolute;
    text-align: center;
    
    background-color: rgba(47, 48, 58, 0.8);
    color: var(--primary-white-color);
    font-size: 14px;
    font-weight: 700;
    height: 70px;
    width: 373px;
}

/*--------------- Team section ---------------*/
.team__section {
    background-color: var(--background-gray); 
}

.team__section .team__cards {
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.team__section .team__list {
    text-align: center;

    background-color: var(--primary-white-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    list-style: none;
}

.team__section .team__member {
    margin: 30px 0 10px 0;
    
    color: var(--primary-black-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
}

.team__section .team__role {
    margin-bottom: 30px;
}

.team__section .socialMedia {
    align-items: center;
    display: flex; 
    gap: 15px;
    justify-content:center;
    margin-bottom: 20px;
    padding: 10px 20px;
}

.team__section .socialMedia__list {
    display:block;
    
    border-radius: 25px;
    box-shadow: none;
    height: 44px;
    width: 44px;
}

.team__section .socialMedia__link {
    align-items: center;
    display: flex;
    justify-content: center;
    
    border-radius: 25px;
    height: 44px;
    width: 44px;
}

.team__section .socialMedia__icon {
    fill: var(--icon-color);
    height: 20px;
    width: 20px;
}

.team__section .socialMedia__list:hover,
.team__section .socialMedia__link:focus {
    background-color: var(--accent-color);
}

.team__section .socialMedia__list:hover .socialMedia__icon,
.team__section .socialMedia__link:focus .socialMedia__icon {
    fill: var(--primary-white-color);
}

/*--------------- Regular clients section ---------------*/
.clients {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.clients .clients__list {
    border-radius: 4px;
    height: 81px;
    list-style: none;
    width: 170px;
    
}

.clients .clients__link {
    align-items: center;
    display: flex;
    justify-content: center;
    
    border: 1px var(--icon-color) solid;
    border-radius: 4px;
    height: 81px;
    width: 170px;
}

.clients .clients__icon {
    fill: var(--icon-color);
    height: 52px;
    width: 106px;
}

.clients .clients__list:hover .clients__link,
.clients .clients__link:focus {
    border-color: var(--accent-color);
}

.clients .clients__list:hover .clients__icon,
.clients .clients__link:focus .clients__icon {
    fill: var(--accent-color);
}

/*--------------- Portfolio section ---------------*/
.portfolio__menu {
    align-items: center;
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-bottom: 50px;
    
    list-style: none;
}

.portfolio__menu .portfolio__button {
    padding: 6px 25px;
    
    background-color: var(--background-gray);
    border: none;
    border-radius: 4px;
    color: var(--primary-black-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    outline: none;
}

.portfolio__menu .portfolio__button--current,
.portfolio__menu .portfolio__button:hover,
.portfolio__menu .portfolio__button:focus {
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: var(--primary-white-color);
}

.portfolio__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    list-style: none;
}

.portfolio__cards .portfolio__list {
    margin-bottom: 20px;
    
    border: 1px solid var(--bordercards-color); 
    width: 370px;
}

.portfolio__cards .portfolio__list:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__cards .portfolio__title {
    padding: 4px 24px;
    text-align: left;

    background-color: var(--primary-white-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
}

.portfolio__cards .portfolio_description {
    padding: 4px 24px;
    
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.9;
}

.portfolio__cards  .portfolio__frame {
    position: relative;
    overflow: hidden;
}

.portfolio__cards .portfolio__image {
    display: block;
    
    height: auto;
    max-width: 100%;
}

.portfolio__cards .portfolio__overlay {
    left: 0;
    padding:  63px 24px;
    position: absolute;
    top: 0;
    
    color: var(--primary-white-color);
    background-color: rgba(33, 150, 243, 0.9);
    height: 100%;
    width: 100%;

    transition: transform ease-in 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(101%);
}

.portfolio__cards .portfolio__list:hover .portfolio__overlay {
    transform: translateY(0);
}

/* Footer section */
footer {
    background-color: var(--background-black);
    padding: 60px var(--container-padding);
}


footer .container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

footer .container ul {
    list-style: none;
}

footer .container address {
    display: flex;
    width: 230;
    
}

footer .container address ul {
    list-style: none;
}

footer .container address .contact {
    display: flex;
    font-style: normal;
    color: var(--primary-white-color);
}

footer .container address .contact-channel {
    font-style: normal;
    color: var(--text-white-opacity);
    text-decoration: none;
}

footer .container address .contact:hover,
footer .container address .contact:focus,
footer .container address .contact-channel:hover,
footer .container address .contact-channel:focus {
    color: var(--accent-color);
}

footer .container aside p {
    font-weight: 700;
    line-height: 1.1;
    color: var(--primary-white-color);
}

footer .container aside ul {
    padding-top: 20px;
    display: flex; 
    align-items: center;
    justify-content:center;
    gap: 15px;
}

footer .container aside ul li {
    display:block;
    width: 44px;
    height: 44px;
    border-radius: 25px;
    box-shadow: none;
}

footer .container aside ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.1);
}

footer .container aside ul li a .icon {
    width: 20px;
    height: 20px;
    fill: var(--primary-white-color);
    
}

footer .container aside ul li:hover a,
footer .container aside ul li a:focus {
    background-color: var(--accent-color);
}

footer .container p {
    color: var(--primary-white-color);
    font-weight: 700;
    line-height: 1.1;
}

footer .container form .footer-form_label {
    display: block;
    padding-top: 20px;
}

footer .container form .footer-form_label .footer-form_input {
    width: 358px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: var(--background-black);
    padding-left: 16px;
    outline: none;
    color: var(--primary-white-color);
}

footer .container form .footer-form_label .footer-form_button {
    height: 50px;
    margin-left: 12px;
}

footer .container form .footer-form_label .footer-form_button .footer-form_icon {
    width: 24px;
    height: 24px;
}
