
/*--------------- Header section ---------------*/

/*--------------- Modal window ---------------*/

/*--------------- Hero Section ---------------*/


/*--------------- Benefits section ---------------*/


/*--------------- What we do section ---------------*/


/*--------------- Team section ---------------*/



/*--------------- Regular clients section ---------------*/


/*--------------- Portfolio section ---------------*/
.portfolio__menu {
    align-items: center;
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-bottom: 50px;
}

.portfolio__menu .portfolio__button {
    padding: 6px 25px;
    
    background-color: var(--background-gray);
    border: none;
    border-radius: 4px;
    color: var(--primary-black-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    outline: none;
}

.portfolio__menu .portfolio__button--current,
.portfolio__menu .portfolio__button:hover,
.portfolio__menu .portfolio__button:focus {
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: var(--primary-white-color);
}

.portfolio__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio__cards .portfolio__list {
    margin-bottom: 20px;
    
    border: 1px solid var(--bordercards-color); 
    width: 370px;
}

.portfolio__cards .portfolio__list:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__cards .portfolio__title {
    padding: 4px 24px;
    text-align: left;

    background-color: var(--primary-white-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
}

.portfolio__cards .portfolio_description {
    padding: 4px 24px;
    
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.9;
}

.portfolio__cards  .portfolio__frame {
    position: relative;
    overflow: hidden;
}

.portfolio__cards .portfolio__image {
    display: block;
    
    height: auto;
    max-width: 100%;
}

.portfolio__cards .portfolio__overlay {
    left: 0;
    padding:  63px 24px;
    position: absolute;
    top: 0;
    
    color: var(--primary-white-color);
    background-color: rgba(33, 150, 243, 0.9);
    height: 100%;
    width: 100%;

    transition: transform ease-in 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(101%);
}

.portfolio__cards .portfolio__list:hover .portfolio__overlay {
    transform: translateY(0);
}

/*--------------- Footer section ---------------*/
.footer {
    padding: 60px var(--container-padding);

    background-color: var(--background-black);
}

.footer .container {
    align-items: flex-start;
    display: flex;
    gap: 20px;
}

.address__link {
    color: var(--primary-white-color);
    font-style: normal;
}

.address__link--color {
    color: var(--text-white-opacity);
}

.address__link:hover,
.address__link:focus,
.address__link--color:hover,
.address__link--color:focus {
    color: var(--accent-color);
}

.footer .footer__text {
    color: var(--primary-white-color);
    font-weight: 700;
    line-height: 1.1;
}

.footer .footer__form--label {
    display: block;
    padding-top: 20px;
}

.footer .footer__form--input {
    padding-left: 16px;
    
    background-color: var(--background-black);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    color: var(--primary-white-color);
    height: 50px;
    width: 358px;
    outline: none;
}

.footer .footer__form--button {
    margin-left: 12px;
    
    height: 50px;
}

.footer .footer__form--icon {
    height: 24px;
    width: 24px;
}
