
/*--------------- Header section ---------------*/



/*--------------- Modal window ---------------*/


.backdrop .modal__form {
    padding: 40px;
    position: relative;
    z-index: 1;

    border-radius: 4px;
    background-color: var(--primary-white-color);
    height: 581px;
    width: 528px; 
    
    transition: transform ease-in  250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(0);
    
}

.backdrop .modal__form.is-hidden {
    transform: translateY(200px);
}

.backdrop .modal__button {
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    right: 8px;
    top: 8px;
    
    background-color: var(--primary-white-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    cursor: pointer;
    height: 30px;
    width: 30px;
}
    

.backdrop .modal__button .modal__button--close {
    height: 11px;
    width: 11px;
}

.backdrop .modal__button:hover,
.backdrop .modal__button:focus {
    fill:var(--accent-color);
}

.backdrop .modal__title {
    text-align: center;

    color: var(--primary-black-color);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
}

.backdrop .modal__label {
    display: block;
    position: relative;
    margin-bottom: 10px;
}

.backdrop .modal__input {
    display: block;
    padding: 12px 0px 12px 42px;
    
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    height: 40px;
    width: 448px;
    outline: none;
}

.backdrop .modal__input:focus,
.backdrop .modal__input:hover {
    border: 1px solid var(--accent-color);
}

.backdrop .modal__input:focus + .modal__icon,
.backdrop .modal__input:hover + .modal__icon {
    fill:var(--accent-color);
}

.backdrop .modal__icon {
    bottom: 14px;
    left: 15px;
    position: absolute;
    top: 35px;

    height: 18px;
    width: 18px;
    fill: var(--primary-black-color);
}

.backdrop .modal__comments {
    display: block;
    padding: 12px 16px;
    
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    height: 120px;
    outline: none;
    resize: none;
    width: 448px;
}

.backdrop .modal__label--checkoption {
    display: block;
    padding-left: 20px;
    position: relative;
    margin-top: 20px;
}

.backdrop .modal__input--checkbox {
    opacity: 0;
}

.backdrop .modal__box {
    align-items: center;
    display: flex;
    justify-content: center;
    left: 16px;
    position: absolute;
    top: 4px;
    
    background-color: var(--primary-white-color);
    border: 2px solid var(--primary-black-color);
    border-radius: 2px;
    height: 15px;
    overflow: hidden;
    width: 16px;
}

.backdrop .modal__input--checkbox:checked + .modal__box {
    background-color: var(--accent-color);
    border: 2px solid var(--accent-color);
}

.backdrop .modal__iconcheck {
    height: 8px;
    width: 11px;
}

.backdrop .modal__button--submit {
    left: 164px;
    position: absolute;
    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); 
    height: 50px;
    width: 200px;
}

/*--------------- Hero Section ---------------*/
.hero {
    padding: 200px var(--container-padding);
    text-align: center;
    
    background-image: linear-gradient(rgba(47,48,58,0.7),rgba(47,48,58,0.4)), url(../Images/hero1.jpg);
    background-size: cover;
}

.hero .hero__title {
    margin: 30px auto;

    color: var(--primary-white-color);
    font-size: 44px;
    font-weight: 900;
    width: 650px;
}

/*--------------- Benefits section ---------------*/
.benefits {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.benefits .benefits__list {
    width: 270px;
}

.benefits .benefits__item {
    padding: 25px 100px;

    background-color: var(--background-gray);
    border-radius: 4px;
}

.benefits .benefits__icon {
    height: 70px;
    width: 65px;
} 

.benefits .benefits__title {
    padding: 10px 0;

    color: var(--primary-black-color);
}

/*--------------- What we do section ---------------*/
.activities__section {
    padding-top: 0;
}

.activities__section .activities__list {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.activities__section .activities__item {
    position: relative;
    z-index: -1;
    
    overflow: hidden;
}

.activities__section .activities__image {
    display: block;

    max-width: 100%;
}

.activities__section .activities__item > .activities__title {
    bottom: 0;
    margin: 0;
    padding: 27px 0;
    position: absolute;
    text-align: center;
    
    background-color: rgba(47, 48, 58, 0.8);
    color: var(--primary-white-color);
    font-size: 14px;
    font-weight: 700;
    height: 70px;
    width: 373px;
}

/*--------------- Team section ---------------*/
.team__section {
    background-color: var(--background-gray); 
}

.team__section .team__cards {
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.team__section .team__list {
    text-align: center;

    background-color: var(--primary-white-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__section .team__member {
    margin: 30px 0 10px 0;
    
    color: var(--primary-black-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
}

.team__section .team__role {
    font-size: 16px;
    line-height: 1.2;
}

.socialMedia {
    align-items: center;
    display: flex; 
    gap: 15px;
    justify-content:center;
    margin-bottom: 20px;
    padding-top: 20px;
}

.socialMedia .socialMedia__list {
    display:block;
    
    border-radius: 25px;
    box-shadow: none;
    height: 44px;
    width: 44px;
}

.socialMedia .socialMedia__link {
    align-items: center;
    display: flex;
    justify-content: center;
    
    border-radius: 25px;
    height: 44px;
    width: 44px;
}

.socialMedia .socialMedia__icon {
    fill: var(--icon-color);
    height: 20px;
    width: 20px;
}

.socialMedia .socialMedia__list:hover,
.socialMedia .socialMedia__link:focus {
    background-color: var(--accent-color);
}

.socialMedia .socialMedia__list:hover .socialMedia__icon,
.socialMedia .socialMedia__link:focus .socialMedia__icon {
    fill: var(--primary-white-color);
}

/*--------------- Regular clients section ---------------*/
.clients {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.clients .clients__list {
    border-radius: 4px;
    height: 81px;
    width: 170px;
}

.clients .clients__link {
    align-items: center;
    display: flex;
    justify-content: center;
    
    border: 1px var(--icon-color) solid;
    border-radius: 4px;
    height: 81px;
    width: 170px;
}

.clients .clients__icon {
    fill: var(--icon-color);
    height: 52px;
    width: 106px;
}

.clients .clients__list:hover .clients__link,
.clients .clients__link:focus {
    border-color: var(--accent-color);
}

.clients .clients__list:hover .clients__icon,
.clients .clients__link:focus .clients__icon {
    fill: var(--accent-color);
}

/*--------------- Portfolio section ---------------*/
.portfolio__menu {
    align-items: center;
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-bottom: 50px;
}

.portfolio__menu .portfolio__button {
    padding: 6px 25px;
    
    background-color: var(--background-gray);
    border: none;
    border-radius: 4px;
    color: var(--primary-black-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    outline: none;
}

.portfolio__menu .portfolio__button--current,
.portfolio__menu .portfolio__button:hover,
.portfolio__menu .portfolio__button:focus {
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: var(--primary-white-color);
}

.portfolio__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio__cards .portfolio__list {
    margin-bottom: 20px;
    
    border: 1px solid var(--bordercards-color); 
    width: 370px;
}

.portfolio__cards .portfolio__list:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__cards .portfolio__title {
    padding: 4px 24px;
    text-align: left;

    background-color: var(--primary-white-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
}

.portfolio__cards .portfolio_description {
    padding: 4px 24px;
    
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.9;
}

.portfolio__cards  .portfolio__frame {
    position: relative;
    overflow: hidden;
}

.portfolio__cards .portfolio__image {
    display: block;
    
    height: auto;
    max-width: 100%;
}

.portfolio__cards .portfolio__overlay {
    left: 0;
    padding:  63px 24px;
    position: absolute;
    top: 0;
    
    color: var(--primary-white-color);
    background-color: rgba(33, 150, 243, 0.9);
    height: 100%;
    width: 100%;

    transition: transform ease-in 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(101%);
}

.portfolio__cards .portfolio__list:hover .portfolio__overlay {
    transform: translateY(0);
}

/*--------------- Footer section ---------------*/
.footer {
    padding: 60px var(--container-padding);

    background-color: var(--background-black);
}

.footer .container {
    align-items: flex-start;
    display: flex;
    gap: 20px;
}

.address__link {
    color: var(--primary-white-color);
    font-style: normal;
}

.address__link--color {
    color: var(--text-white-opacity);
}

.address__link:hover,
.address__link:focus,
.address__link--color:hover,
.address__link--color:focus {
    color: var(--accent-color);
}

.footer .footer__text {
    color: var(--primary-white-color);
    font-weight: 700;
    line-height: 1.1;
}

.socialMedia .socialMedia__link--color {
    background-color: rgba(255, 255, 255, 0.1);
}

.socialMedia .socialMedia__icon--color {
    fill: var(--primary-white-color);
}

.footer .footer__form--label {
    display: block;
    padding-top: 20px;
}

.footer .footer__form--input {
    padding-left: 16px;
    
    background-color: var(--background-black);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    color: var(--primary-white-color);
    height: 50px;
    width: 358px;
    outline: none;
}

.footer .footer__form--button {
    margin-left: 12px;
    
    height: 50px;
}

.footer .footer__form--icon {
    height: 24px;
    width: 24px;
}
