@import "./utils/variables";
@import "./components/header";
@import "./components/modal-window";
@import "./components/hero";
@import "./components/benefits";
@import "./components/activities";
@import "./components/team";
@import "./components/socialmedia";
@import "./components/clients";
@import "./components/portfolio-menu";
@import "./components/portfolio-cards";
@import "./components/footer";
@import "./components/address";


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: $primary-white-color;
    color: $primary-text-color;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.03em;
    line-height: 1.7;
}
h2 {
    padding: 30px 0 55px;
    text-align: center;

    color: $primary-black-color;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;

}
a {
    text-decoration: none; 
}
ul {
    list-style: none;
}
.logo {
    color: $accent-color;
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    text-decoration: none;
}
.hero__button {
    padding: 10px 32px;

    background-color: $accent-color;
    border: none;
    border-radius: 4px;
    color: $primary-white-color;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.06em;
    line-height: 1.9;
    outline: none;
}
.hero__button:hover,
.hero__button:focus {
    background-color: $button-primary-hover;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.section {
    padding: 30px 0;
}