.header {
    margin: 0 auto;
    padding: 0 $container-padding;

    border-bottom: 1px solid $border-color;
    height: 80px;

    .container {
        align-items: center;
        display: flex;
        justify-content: space-between;
        
        height: 100%;
    }

    .navbar {
        align-items: center;
        display: flex;
        gap: 100px;
    
        &__list {
            display: flex;
            gap: 80px;
        }
        
        &__link {
            position: relative;
        
            color: $primary-black-color;
            font-weight: 500;
            font-size: 14px;
            line-height: 1.4;
            letter-spacing: 0.02em; 
        }
        
        &__link--current::after {
            left: 0;
            position: absolute;
            top: 44px;
        
            background-color: $accent-color;
            border-radius: 2px;
            content: '';
            height: 4px;
            width: 100%;  
        }
    }
}


