.team__section {
    background-color: $background-gray; 

    .team__cards {
        @include flex(flex-end, space-between);
        flex-wrap: wrap;
    }
    
    .team__list {
        text-align: center;
    
        background-color: $primary-white-color;
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    }
    
    .team__member {
        margin: 30px 0 10px 0;
        
        color: $primary-black-color;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.2;
    }
    
    .team__role {
        font-size: 16px;
        line-height: 1.2;
    }
}


