:root {
    --accent-color: #2196f3;
    --background-black: #2f303a;
    --background-gray: #f5f4fa;
    --border-color: #ececec;
    --bordercards-color: #eeeeee;
    --button-primary-hover: #188ce8;
    --icon-color: #afb1b8;
    --primary-black-color: #212121;
    --primary-text-color: #757575;
    --primary-white-color: #ffffff;
    --text-white-opacity: #ffffff99;

    --container-padding: calc((100% - 1200px) / 2);
}
$accent-color: #2196f3;
$background-black: #2f303a;
$background-gray: #f5f4fa;
$border-color: #ececec;
$bordercards-color: #eeeeee;
$button-primary-hover: #188ce8;
$icon-color: #afb1b8;
$primary-black-color: #212121;
$primary-text-color: #757575;
$primary-white-color: #ffffff;
$text-white-opacity: #ffffff99;
$container-padding: calc((100% - 1200px) / 2);